run = "npm start"
entrypoint = "package.json"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[deployment]
build = ["sh", "-c", "npm run install:all && npm run build"]
run = ["sh", "-c", "npm start"]
