run = "npm start"
entrypoint = "package.json"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[deployment]
run = ["sh", "-c", "npm start"]
